{% extends 'base.html' %}

{% block content %}

<html>
  <head>
  <style>
    a.fixed {
    position: fixed;
    right: 0;
    top: -3;
    width: 100px;
        }
  </style>
  </head>
    <body>
    <a class="fixed" href="{% url 'home' %}">Back to All Articles</a>
    </a>
    </body>
</html>
<h1> <b> My Articles</b> </h1>

<br/>
<br/>
{% for obj in blogs %}
    <h1> Title:   {{ obj }} </h1>
    <h1> Content: {{ obj.content |slice:"200"  }} </h1>
    <h1> Tags:    {{obj.tags}} </h1> 
    <h1> Creator: {{ obj.created_by  }} </h1>

    <a style ="color:blue;" href="/home/{{obj.pk}}">click here for full detail</a> <br/>
    <a style ="color:red;" href={% url "blog-delete" obj.pk %}>Delete Article</a>  
    <br/>
    <br/>
    <br/>


    
{% endfor %}
        


{% endblock content %}